* {
    box-sizing: border-box;
    margin: 5;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background :linear-gradient(45deg , #e55d87 40% , #5fc3e4 60%);
    min-height: 100vh;
}
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-image: linear-gradient(135deg, #ffff57 30%, #ae3fea );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  .result {
    text-align: center;
  }
  
  #result-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
